*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.nav-one {
  background-color: red;
}

#clr {
    color: black;
    border-right: 1px solid gray;
    padding-right: 5px;
}

#clr  :hover {
  color: red;
}

.clr{
    color: grey;
}

.trend {
    margin-top: 1px solid red;
}
.clr :hover{
    color: red;
}

.bot{
    bottom: 24px;
}

.turn {
    top: 1.5rem;
}

img{
    vertical-align: unset;
    cursor: pointer;
}

.opp{
    position: relative;
    top: -57px;
}

.vs1{
    top: -49px;
}

.vs{
    top: -30px;
}

.debate-1{
    position: relative;
    top: -56px;
    left: 30px;
}

.txt {
    top: -9px;
}