*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.nav-one {
  background-color: red;
}

#clr {
    color: black;
    border-right: 1px solid gray;
    padding-right: 8px;
}

#clr  :hover {
  color: red;
}
