.block-title {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  padding-bottom: 1.1rem;
  color: rgba(12, 11, 11, 0.8);
}
