$dark-gray: #333;
$gray: #555;
$light-gray: #666;
$border-color-light: #d9d9d9;
$border-color-lighter: #b2f5f5;
$vertical-gutter-bg: #f4f5f7;
$vertical-gutter-border: #e2e2e2;
$white: white;
$red: #f72210;
